* {
  box-sizing: border-box;
}

body {
  background: #20002c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a78db1, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a78db1, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: -apple-system, BlinkMacSystemFont, 'Josefin Sans', "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  font-size: 2vmin;
  color: white;
  padding: 10px 0;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form input {
  padding: 1.5vmin 5px;
  width: 60vmin;
  font-size: 1.9vmin;
  border-radius: 2px;
  box-shadow: 0px 10px 25px -18px rgb(0, 0, 0);
  border: none;
}

form input:focus {
  outline: none;
}

section {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

section .artist {
  min-width: calc(100% / 4);
  min-height: 112px;
  padding: 5px 15px;
  box-shadow: 0px 10px 25px -18px rgb(0, 0, 0);
  border-radius: 2px;  
  cursor: pointer;
  transition: 0.5s all ease-out;
}

b {
  color: #f7e6d2;
  font-size: 2.5vmin;
  margin-left: 5px;
}

/* Preloder  */
section .artist:hover {
  transition: 0.5s all ease-in;
  transform: scale(1.05);
}

.circle {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
}

.item0{ animation: 1s pulse0 infinite }
.item1 { animation: 1s pulse1 infinite }
.item2 { animation: 1s pulse2 infinite }

@keyframes pulse0 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(2);
  }
  43.3% {
    transform: scale(1);
  }
  76.6% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse1 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  43.3% {
    transform: scale(2);
  }
  76.6% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse2 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  43.3% {
    transform: scale(1);
  }
  76.6% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  section {
    flex-flow: column wrap;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    width: 576px;
  }
  section {
    flex-flow: column wrap;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    width: 768px;
  }
  section {
    flex-flow: column wrap;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    width: 992px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}